<form action="/buckle" method="post">
  <input type="text" name="ghost" value="">
  <input type="text" name="fun" value="">
  <input type="text" name="hate" value="">
  <input type="submit" value="Do eeeeet">
</form>
